<link href="~/Assets/Client/custom-css/custom-style.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="product_section layout_padding custom-container">
    <div class="heading_container heading_center">
        <h2>
            Our <span>Menu</span>
        </h2>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-lg-pull-9 col-md-pull-8">
            <div class="margin-top">
                <div class="card card-info recent-cart">
                    <h4 class="card-header card-white"><strong>Cart</strong></h4>
                    <ul class="cart-order card-body">
                        <li class="order-item row" >
                            <div class="item-image col-4">
                                <img src="~/Assets/Client/images/menu-item-1.jpg" />
                            </div>
                            <div class="col-6">
                                <p>
                                    <b class="product-name ">ESPRESSO AMERICANO</b>
                                    <br />
                                    <strong>2</strong> x <span class="product-price">$12</span>
                                </p>
                            </div>
                            <div class="col-2 w-100 btn-close">
                                <button type="button" class="close"> <span class="text-danger" aria-hidden="true">&times;</span></button>
                            </div>
                        </li>
                        <li class="order-item row " >
                            <div class="item-image col-4">
                                <img src="~/Assets/Client/images/menu-item-2.jpg" />
                            </div>
                            <div class="col-6">
                                <p>
                                    <b class="product-name ">DOUBLE ESPRESSO</b>
                                    <br />
                                    <strong>2</strong> x <span class="product-price">$12</span>
                                </p>
                            </div>
                            <div class="col-2 w-100">
                                <button type="button" class="close "> <span class="text-danger" aria-hidden="true">&times;</span></button>
                            </div>
                        </li>
                        <li class="order-item row" >
                            <div class="item-image col-4">
                                <img src="~/Assets/Client/images/menu-item-7.jpg" />
                            </div>
                            <div class="col-6">
                                <p>
                                    <b class="product-name ">ICED LATTE</b>
                                    <br />
                                    <strong>2</strong> x <span class="product-price">$12</span>
                                </p>
                            </div>
                            <div class="col-2 w-100">
                                <button type="button" class="close "> <span class="text-danger" aria-hidden="true">&times;</span></button>
                            </div>
                        </li>
                        <li class="order-item row" >
                            <div class="item-image col-4">
                                <img src="~/Assets/Client/images/menu-item-5.jpg" />
                            </div>
                            <div class="col-6">
                                <p>
                                    <b class="product-name ">LATTE MACCHIATO</b>
                                    <br />
                                    <strong>2</strong> x <span class="product-price">$12</span>
                                </p>
                            </div>
                            <div class="col-2 w-100">
                                <button type="button" class="close "> <span class="text-danger" aria-hidden="true">&times;</span></button>
                            </div>
                        </li>                      
                    </ul>
                    <div class="card card-footer text-center">
                        <div class="sub_total ">
                            <h5><b>Sub Total: $156.94</b></h5>
                        </div>
                        <div class="btn-box">
                            <a href="" class="btn-secondary w-75">
                                Xem giỏ hàng
                            </a>
                        </div>
                        <div class="btn-box">
                            <a href="@Url.Action("Index","Cart")" class="btn-checkout w-75">
                                Đặt hàng
                            </a>
                        </div>
                    </div>
                </div>

                @*Product categories*@
                <div class="margin-top">
                    <div class="card card-info">
                        <h4 class="card-header"><strong>Product categories</strong></h4>
                        <ul class="card-body product-category-list">
                            <li class="category-item">

                                <a>Expresso</a>

                            </li>
                            <li class="category-item">

                                <a>Americano</a>

                            </li>
                            <li class="category-item">

                                <a>Latte</a>

                            </li>
                            <li class="category-item">

                                <a>Robusta</a>

                            </li>
                            <li class="category-item">

                                <a>Arabica</a>

                            </li>
                        </ul>
                        
                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-9 col-lg-push-3 col-md-8 col-md-push-4">

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="" class="option1">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Order Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">

                            <img src="~/Assets/Client/images/menu-item-1.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                AMERICANO
                            </h5>
                            <h6>
                                $75
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="" class="option1">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Order Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">

                            <img src="~/Assets/Client/images/menu-item-2.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                AFFOGATO
                            </h5>
                            <h6>
                                $80
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="" class="option1">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Order Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">

                            <img src="~/Assets/Client/images/menu-item-3.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                CAFFÈ LATTE
                            </h5>
                            <h6>
                                $68
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="" class="option1">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Order Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">

                            <img src="~/Assets/Client/images/menu-item-4.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                CAPPUCCINO
                            </h5>
                            <h6>
                                $70
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="" class="option1">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Order Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">

                            <img src="~/Assets/Client/images/menu-item-5.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                ICED LATTE
                            </h5>
                            <h6>
                                $75
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="" class="option1">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Order Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">

                            <img src="~/Assets/Client/images/menu-item-6.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                COLD BREW COFFEE
                            </h5>
                            <h6>
                                $58
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="" class="option1">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Order Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">

                            <img src="~/Assets/Client/images/menu-item-7.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                CAFFÈ MOCHA
                            </h5>
                            <h6>
                                $80
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="" class="option1">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Order Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">

                            <img src="~/Assets/Client/images/menu-item-8.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                ESPRESSO CON PANNA
                            </h5>
                            <h6>
                                $65
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="" class="option1">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Order Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">

                            <img src="~/Assets/Client/images/menu-item-1.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                ESPRESSO MACCHIATO
                            </h5>
                            <h6>
                                $65
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="" class="option1">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Order Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">

                            <img src="~/Assets/Client/images/menu-item-2.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                DOUBLE ESPRESSO
                            </h5>
                            <h6>
                                $65
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="" class="option1">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Order Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">

                            <img src="~/Assets/Client/images/menu-item-3.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                CAFÈ AU LAIT
                            </h5>
                            <h6>
                                $65
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="" class="option1">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Order Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">

                            <img src="~/Assets/Client/images/menu-item-4.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                FLAT WHITE
                            </h5>
                            <h6>
                                $65
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-box">
                <a href="">
                    View All products
                </a>
            </div>
        </div>
    </div>
</section>
<script src="~/Assets/Client/js/jquery-3.4.1.min.js"></script>
<script>
    $('.close').click(function () {
        $(this).closest('li').remove();
        checkCartList();
    }) 


    function checkCartList() {
        if ($('.cart-order li').length === 0) {
            $('.cart-order li').html('Cart is empty')
        }
        console.log($('.cart-order li').length)
    }
       
    
</script>