.payment-section .btn-box
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
}

    .payment-section .btn-box a
    {
        display: inline-block;
        padding: 10px 40px;
        background-color: #eab676;
        border: 1px solid #eab676;
        color: #ffffff;
        border-radius: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        font-weight: 700;
        cursor: pointer;
    }

        .payment-section .btn-box a:hover
        {
            background-color: transparent;
            color: #eab676;
        }

    .payment-section .btn-box .btn-secondary
    {
        background-color: #000000;
        border: 1px solid #000000;
        color: #ffffff;
    }

        .payment-section .btn-box .btn-secondary:hover
        {
            background-color: transparent;
            color: #000000;
        }

.card
{
    border: none;
}

.form-control
{
    border-bottom: 2px solid #eee !important;
    border: none;
    font-weight: 600
}

    .form-control:focus
    {
        color: black;
        background-color: #fff;
        border-color: #eab676;
        outline: 0;
        box-shadow: none;
        border-radius: 0px;
        border-bottom: 2px solid #eab676 !important
    }

.inputbox
{
    position: relative;
    margin-bottom: 20px;
    width: 100%
}

    .inputbox span
    {
        position: absolute;
        top: 7px;
        left: 11px;
        transition: 0.5s
    }

    .inputbox i
    {
        position: absolute;
        top: 13px;
        right: 8px;
        transition: 0.5s;
        color: #eab676
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0
}

.inputbox input:focus ~ span
{
    transform: translateX(-0px) translateY(-15px);
    font-size: 12px
}

.inputbox input:valid ~ span
{
    transform: translateX(-0px) translateY(-15px);
    font-size: 12px
}

.card-blue
{
    background-color: #eab676;
    color: black;
}

.hightlight
{
    background-color: #eab676;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 14px
}

.yellow
{
    color: #fdcc49
}

.decoration
{
    text-decoration: none;
    font-size: 14px
}

    .decoration:hover
    {
        text-decoration: none;
        color: #fdcc49
    }

.card-hightlight
{
    font-weight: 500;
    background-color: #002c3e;
    color: white;
}

/*PAYMENT METHOD*/
/* The container of radio button */

.container-rad
{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 64px;
    vertical-align: middle;
}

    /* Hide the browser's default radio button */
    .container-rad input
    {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark
{
    /* position: absolute;
    top: 0;*/
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #80808019;
    border-radius: 50%;
    position: absolute;
    top: 25%;
}

/* On mouse-over, add a grey background color */
.container-rad:hover input ~ .checkmark
{
    background-color: #80808019;
    border-style: solid;
    border-color: hsl(89, 43%, 51%);
}

/* When the radio button is checked, add a blue background */
.container-rad input:checked ~ .checkmark
{
    background-color: hsl(89, 43%, 51%);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after
{
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-rad input:checked ~ .checkmark:after
{
    display: block;
}

/* Style the indicator (dot/circle) */
.container-rad .checkmark:after
{
    top: 2px;
    left: 8px;
    width: 8px;
    height: 16px;
    transform: rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    background: hsl(89, 43%, 51%);
}

@media only screen and (min-width: 600px)
{
    .container-rad
    {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        margin-left: 0px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        min-height: 64px;
        vertical-align: middle;
    }
}