<p><span style="color:#f39c12"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><span style="font-size:18px"><strong>Bạn vừa nhận được phản hồi mới từ khách hàng.</strong></span></span></span></p>

<hr />
<p><span style="font-size:16px"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong>T&ecirc;n kh&aacute;ch h&agrave;ng: <span style="color:#f39c12">{{Name}}</span></strong></span></span></p>

<p><span style="font-size:16px"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong>Email: <span style="color:#f39c12">{{Email}}</span></strong></span></span></p>

<p><span style="font-size:16px"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong>Ti&ecirc;u đề:<span style="color:#e67e22"> {{EmailSubject}}</span></strong></span></span></p>

<p><span style="font-size:14px"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong>Ng&agrave;y gửi: <span style="color:#95a5a6">{{CreatedDate}}</span></strong></span></span></p>

<hr />
<p><span style="font-size:14px"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong>Nội dung:&nbsp;</strong></span></span></p>

<blockquote>
    <p style="text-align:justify"><span style="font-family:Lucida Sans Unicode, Lucida Grande, sans-serif"><span style="font-size:14px"><strong>{{Message}}</strong></span></span></p>
</blockquote>

<hr />
<p>
    <span style="font-size:14px">Email được gửi tự động từ <strong>Coffee Way.&nbsp;</strong></span><br />
    <span style="font-size:14px">Thời gian gửi:&nbsp;<span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong><span style="color:#95a5a6">{{CreatedDate}}</span></strong></span></span>
</p>