<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://exporttopdffunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/457c0965-cafb-4468-aab6-40ec97d45157/resourceGroups/AspNetAppStudent/providers/Microsoft.Web/sites/exporttopdffunction</ResourceId>
    <UserName>$exporttopdffunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://exporttopdffunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>