<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/Assets/Client/images/favicon.png" type="">
    <title>Coffee Way</title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/bootstrap.css" />

    <!-- font awesome style -->
    <link href="~/Assets/Client/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Assets/Client/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Assets/Client/css/responsive.css" rel="stylesheet" />

    @*custom-css*@
    <link href="~/Assets/Client/custom-css/custom-style.css" rel="stylesheet" />
</head>
<body>
    <div id="hero_area" class="hero_area">
        @*Header section*@
        @{ Html.RenderAction("Header", "Home");}
        @*End Header section*@

        @if (IsSectionDefined("slider_section"))
        {
            @RenderSection("slider_section", required: true);
        }
    </div>

    @*Body section*@
    @RenderBody()

    @*footer section start*@
    @{ Html.RenderAction("Footer", "Home");}
    @*footer section end*@

    <div class="cpy_">
        <p>© 2021 All Rights Reserved By <a href="https://html.design/">Free Html Templates</a></p>
    </div>
    <!-- jQery -->
    <script src="~/Assets/Client/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="~/Assets/Client/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Assets/Client/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="~/Assets/Client/js/custom.js"></script>

    <script>
       
    </script>
</body>
</html>