<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><strong>Cập nhật danh mục sản phẩm</strong></h1>
                <h4>{{productCategory.Name}}</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a ui-sref="Home">Trang chủ</a></li>
                    <li class="breadcrumb-item "><a ui-sref="Products">Sản phẩm</a></li>
                    <li class="breadcrumb-item "><a ui-sref="ProductCategory">Danh mục sản phẩm</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form name="frmUpdateProductCategory" role="form" ng-submit="UpdateProductCategory()" novalidate>
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin chính</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->

                        <div class="card-body">
                            <div class="form-group">
                                <label>Tên danh mục</label>
                                <input type="text" ng-model="productCategory.Name" class="form-control"
                                       name="pName" required
                                       ng-change="getSeoTitle()"
                                       placeholder="Tên danh mục ...">
                                <span class="text-danger" ng-show="frmUpdateProductCategory.pName.$touched && frmUpdateProductCategory.pName.$invalid">Bạn chưa nhập tên danh mục</span>
                            </div>

                            <div class="form-group">
                                <label>Thứ tự hiển thị</label>
                                <input ng-model="productCategory.DisplayOrder" type="number" class="form-control"
                                       oninput="setLimitValue(0)"
                                       placeholder="Hiển thị ở vị trí 1 2 3 ...">
                            </div>

                            <div class="form-group">
                                <label>Danh mục cha</label>
                                <select ng-model="productCategory.ParentID" id="parentIdDropdown"
                                        class=" form-control w-100"
                                        ng-options="option.ID as option.Name for option in parentCategories">
                             
                                    <option value=''>Danh mục gốc</option>
                                </select>
                            </div>

                            <!-- textarea -->
                            <div class="form-group">
                                <label>Mô tả ngắn về danh mục</label>
                                <textarea ng-model="productCategory.Description"
                                          class="form-control" rows="2"
                                          placeholder="Mô tả ngắn về danh mục ..."></textarea>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputFile">Hình ảnh</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input ng-model="productCategory.Images" type="file"
                                               class="custom-file-input"
                                               id="productCategoryImagesInput" multiple="multiple">
                                        <label class="custom-file-label"
                                               for="productCategoryImagesInput">Chọn files</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Tải lên</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <!--Submit button group-->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Cập nhật danh mục</button>
                        <button ui-sref="ProductCategory" class="btn btn-outline-secondary space-around">Hủy bỏ</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- general form elements disabled -->
                    <div class="card card-lightblue">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin SEO</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Tiêu đề SEO</label>
                                        <input type="text" ng-model="productCategory.Alias" class="form-control" placeholder="Tiêu đề SEO ..."
                                               name="pAlias" required>
                                        <span class="text-danger" ng-show="frmUpdateProductCategory.pAlias.$touched && frmUpdateProductCategory.pAlias.$invalid">Bạn chưa nhập tiêu đề SEO</span>
                                    </div>
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Từ khóa SEO</label>
                                        <input ng-model="productCategory.MetaKeyword"
                                               type="text" class="form-control"
                                               placeholder="Chọn vài từ để làm từ khóa ...">
                                    </div>
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Từ khóa mô tả</label>
                                        <input ng-model="productCategory.MetaDescription"
                                               type="text" class="form-control"
                                               placeholder="Từ khóa mô tả về danh mục ...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="card card-success ">
                        <div class="card-header">
                            <h3 class="card-title">Quản lý danh mục</h3>
                        </div>
                        <div class="card-body" style="margin-top:13px">
                            <!-- Minimal style -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- checkbox -->
                                    <div class="form-group clearfix">
                                        <div class="icheck-success d-inline">
                                            <input type="checkbox" id="checkboxActive"
                                                   ng-model="productCategory.Status"
                                                   ng-checked="productCategory.Status==true">
                                            <label for="checkboxActive">
                                                Kích hoạt danh mục
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- checkbox -->
                                    <div class="form-group clearfix">
                                        <div class="icheck-belizehole d-inline">
                                            <input type="checkbox" id="checkboxHomeFlag"
                                                   ng-model="productCategory.HomeFlag"
                                                   ng-checked="productCategory.HomeFlag==true">
                                            <label for="checkboxHomeFlag">
                                                Hiển thị trên trang chủ
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <!-- general form elements disabled -->
                    <div class="card card-dark">
                        <div class="card-header">
                            <h3 class="card-title">Lịch sử chỉnh sửa</h3>
                        </div>
                        <!--/.card-header-->
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Người tạo</label>
                                        <input ng-model="productCategory.CreatedBy" type="text" class="form-control" required disabled>
                                    </div>
                                    <!--text input-->
                                    <div class="form-group">
                                        <label>Ngày tạo</label>
                                        <input ng-model="productCategory.CreatedDate" type="text" class="form-control" disabled>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Người chỉnh sửa gần nhất</label>
                                        <input ng-model="productCategory.UpdatedBy" type="text" class="form-control" readonly>
                                    </div>
                                    <!--text input-->
                                    <div class="form-group">
                                        <label>Thời gian chỉnh sửa</label>
                                        <input ng-model="productCategory.UpdatedDate" type="text" class="form-control" readonly>
                                        <!--<input ng-model="productCategory.RowVersion" type="text" class="form-control" hidden >-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.card-body-->
                    </div>
                </div>
                <!--/.col (right) -->
            </div>
        </form>

        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->


<script>
    $(document).ready(function () {
        //$('#parentIdDropdown').select2({
        //    theme: 'bootstrap4'
        //});

       
        
        //$('#parentIdDropdown').val('Danh mục gốc'); // Select the option with a default value
        //$('#parentIdDropdown').trigger('change'); // Notify any JS components that the value changed

        //Initialize Select2 Elements
        //console.log('Load library done!')
    });

    
</script>