<?xml version="1.0"?>
<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="PageSize" value="20" />
	<add key="MaxPage" value="5" />
	<add key="GooggleMapJavascript_API_KEY" value="AIzaSyAUkKjFBlL0C2yDfFazbCDMqwpFeqc2QQI" />
	<add key="EnableBundles" value="false" />

	<add key="SMTPHost" value="smtp.gmail.com" />
	<add key="SMTPPort" value="587" />
	<add key="FromEmailAddress" value="17520707@gm.uit.edu.vn" />
	<add key="FromEmailPassword" value="love_123456789" />
	<add key="FromName" value="COFFEE_WAY" />
	<add key="AdminEmail" value="17520707@gm.uit.edu.vn" />
	<add key="CurrentLink" value="https://localhost:44305/" />

	<!--Login with facebook-->
	<add key="FacebookAppId" value="262737969393204" />
	<add key="FacebookAppSecret" value="59e3a3b44acdec43c176510f340b8750" />

	<!--Login with google-->
	<add key="GoogleCLientId" value="813953845042-cm86eafs2efhk6np8v803vr2eprilo2k.apps.googleusercontent.com" />
	<add key="GoogleCLientSecret" value="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" />

	<!--Config EPPlus 5/6 LicenseException-->
	<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />

	<!--Setting Ngan Luong payment-->
	<!--<add key="MerchantId" value="46838" />
	<add key="MerchantPassword" value="b2d2112d7533f970d70c2e13842e215a" />
	<add key="MerchantEmail" value="ngoctoan89@gmail.com" />-->
</appSettings>