<?xml version="1.0"?>
<connectionStrings>
	<!--<add name="CoffeeShopConnection" connectionString="Data Source=KELVIN-LONG;Integrated Security=True;Initial Catalog=CoffeeShopDatabase_MVC; User ID=sa;Password=admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
	<!--<add name="CoffeeShopConnection" connectionString="Data Source=tcp:netserver.database.windows.net,1433;Initial Catalog=CoffeeShopMVC;User Id=aspnetadmin@netserver;Password=admin@123X$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
	<add name="CoffeeShopConnection" connectionString="Data Source=tcp:netserver.database.windows.net,1433;Initial Catalog=CoffeeShopMVC;User Id=aspnetadmin@netserver;Password=admin@123X$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	<!--<add name="CoffeeShopConnection" connectionString="Data Source=KELVIN-LONG;Integrated Security=True;Initial Catalog=CoffeeShopLocalTest; User ID=sa;Password=admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
</connectionStrings>