@model IEnumerable<CoffeeShop.Web.Models.ProductCategoryViewModel>
<link href="~/Assets/Client/custom-css/custom-style.css" rel="stylesheet" />
@*Product categories*@
<div class="margin-top">
    <div class="card card-info">
        <h4 class="card-header"><strong>Product categories</strong></h4>
        <ul class="card-body product-category-list">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    var url = "/pc-" + item.Alias + "-id-" + item.ID;
            <li class="category-item text-black">

                @*<a href="@Url.Action("ProductByCategory","Product",new {@item.ID})">@item.Name</a>*@
                <a class="product-category-list " style="color: black;" href="@url">@item.Name</a>
            </li>
                }
            }
        </ul>
    </div>
</div>