<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="form-control">
       <table>
           <tr ng-repeat="item in orderDetail">

               <td>
                   <input type="checkbox" class="checkBox"
                          value="{{item.ID}}" onclick="GetTotalSelectedItems()" />
               </td>
               <td>{{$index+1}}</td>
               <td>{{item.ID}}</td>
               <td>
                   <span ng-class="getOrderStatusStyle({{item.OrderStatus}})" style="font-size:14px; color:white">
                       {{item.OrderStatus | orderStatusFilter}}
                   </span>
               </td>

               <td style="color:white">
                   <span ng-class="getPaymentStatusStyle({{item.PaymentStatus}})" style="font-size:14px; color:white">
                       {{item.PaymentStatus | paymentStatusFilter}}
                   </span>
               </td>

               <td>
                   <span ng-class="getShippingStatusStyle({{item.ShippingStatus}})" style="font-size:14px; color:white">
                       {{item.ShippingStatus | shippingStatusFilter}}
                   </span>
               </td>

               <td>
                   <a href="mailto:{{item.CustomerEmail}}"> {{item.CustomerEmail}}</a>
               </td>
               <td class="optional-sm">
                   {{item.CreatedDate | date:'dd/MM/yyyy'}}
               </td>
               <td><strong>{{item.TotalAmount | currency:'₫':0}}</strong></td>
           </tr>
       </table>
    </div>
</body>
</html>